.topbar {
  height: 70px;
  background: rgb(204, 204, 204);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid #eee;
}

.topbar-right {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.topbar-identity {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.topbar-identity h2 {
  margin: 0;
  font-size: 18px;
}

.topbar-role {
  font-size: 12px;
  color: #666;
}